Repository Jos620/nuxt-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,ts,vue}": ["prettier --write", "eslint"],
  "*.json": ["prettier --write"]
}

chore(npm): remove `run:` prefix from npm scripts
  package.json
Due: prettier --write

chore(utils): setup @vueuse
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(lint): setup commitlint
  .commitlintrc.json
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(styles): setup unocss icons preset
  package.json
  pnpm-lock.yaml
  src/pages/index.vue
  uno.config.ts
Due: prettier --write, eslint

chore(lint): disable `vue/multi-word-component-names` rule
  .eslintrc.cjs
Due: prettier --write, eslint

chore(home): add link to github repo
  src/pages/index.vue
Due: prettier --write, eslint

style(home): make home page dark
  src/pages/index.vue
Due: prettier --write, eslint

chore(lint): disable `vue/no-multiple-template-root` rule
  .eslintrc.cjs
  src/layouts/default.vue
  src/pages/index.vue
Due: prettier --write, eslint

refactor(lint): isolate vue rules
  .eslintrc.cjs
Due: prettier --write, eslint

chore: add counter component
  src/components/Counter.vue
  src/pages/index.vue
Due: prettier --write, eslint

test(unit): setup vitest and @nuxt/test-utils
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint

chore(git): ignore tests snapshots
  .gitignore
Due: none

test: test counter example component
  src/components/Counter.spec.ts
Due: prettier --write, eslint

test(e2e): setup playwright
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore(npm): add e2e test script
  package.json
Due: prettier --write

test(home): add test for counter button
  tests/home.spec.ts
Due: prettier --write, eslint

fix(npm): kill process on preview port before starting preview
  package.json
Due: prettier --write

fix(tests): conflicts between e2e and unit tests
  playwright.config.ts
  tests/home.spec.ts
  vitest.config.ts
Due: prettier --write, eslint

test(home): add e2e tests
  tests/e2e/home.spec.ts
Due: prettier --write, eslint

chore(npm): improve test scripts
  package.json
Due: prettier --write

chore(npm): split lint and format scripts
  package.json
Due: prettier --write

ci(code_quality): add code quality assurance workflow
  .github/workflows/code_quality.yml
Due: none

chore(lint): ignore pnpm store
  .eslintignore
  .prettierignore
Due: none

fix(npm): remove dev:pre from preview script
  package.json
Due: prettier --write

ci(tests): add e2e tests
  .github/workflows/tests.yml
Due: none

ci(tests): add unit tests
  .github/workflows/tests.yml
Due: none

chore: add initialCount prop to `Counter` component
  src/components/Counter.vue
Due: prettier --write, eslint

test: add test for initial count in `Counter` component
  src/components/Counter.spec.ts
Due: prettier --write, eslint

chore(tests): add vitest ui
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(tests): change playwright report output folders
  .gitignore
  package.json
  playwright.config.ts
Due: prettier --write, eslint

chore(nuxt): ignore test files
  .nuxtignore
Due: none

chore(lint): disable no-useless-constructor rule
  .eslintrc.cjs
Due: prettier --write, eslint

chore(nuxt): remove `~` alias from tsconfig
  nuxt.config.ts
Due: prettier --write, eslint

chore(home): receive title from server
  src/pages/index.vue
  src/server/api/test.ts
Due: prettier --write, eslint

test: setup msw to mock api calls
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  tests/e2e/home.spec.ts
  tests/e2e/index.ts
  tests/mocks/handlers.ts
Due: prettier --write, eslint

chore: remove unused package
  package.json
  pnpm-lock.yaml
Due: prettier --write

test(api): move mock to separate file
  src/server/api/test/index.ts
  src/server/api/test/mock.ts
  tests/mocks/handlers.ts
Due: prettier --write, eslint

test: fix import path
  tests/mocks/handlers.ts
Due: prettier --write, eslint

chore(api): ignore mocks in final build
  nuxt.config.ts
Due: prettier --write, eslint

chore: lint
  src/server/api/test/mock.ts
Due: prettier --write, eslint
