Repository Jos620/nuxt-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(uno): add shadcn preset
  package.json
  pnpm-lock.yaml
  uno.config.ts
Due: prettier --write, eslint

chore(config): add paths to tsconfig.json
  tsconfig.json
Due: prettier --write

chore: add shadcn dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: setup shadcn
  components.json
  src/lib/utils.ts
Due: prettier --write, eslint

style(typography): add typography styles
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/assets/styles/typography.scss
Due: prettier --write, eslint

chore(ui): add button
  src/components/Counter.vue
  src/components/ui/button/index.ts
  src/components/ui/button/index.vue
  src/pages/index.vue
Due: prettier --write, eslint

fix(nuxt): ignore typescript files in components folder
  .nuxtignore
Due: none

chore: add text to counter
  src/components/Counter.vue
Due: prettier --write, eslint

chore(layout): remove wrapper
  src/layouts/default.vue
Due: prettier --write, eslint

chore(home): update home page structure
  src/pages/index.vue
Due: prettier --write, eslint

chore(ui): add avatar
  src/components/ui/avatar/Avatar.vue
  src/components/ui/avatar/AvatarFallback.vue
  src/components/ui/avatar/AvatarImage.vue
Due: prettier --write, eslint

chore(ui): add hover-card
  src/components/ui/hover-card/HoverCard.vue
  src/components/ui/hover-card/HoverCardContent.vue
  src/components/ui/hover-card/HoverCardTrigger.vue
Due: prettier --write, eslint

chore(ui): add separator
  src/components/ui/separator/index.vue
Due: prettier --write, eslint

chore: remove unused file
  src/components/ui/button/index.ts
Due: prettier --write, eslint

chore(lint): disable vue/require-default-prop rule
  .eslintrc.cjs
Due: prettier --write, eslint

chore(home): add hover card to github link
  src/pages/index.vue
Due: prettier --write, eslint

chore(lint): use eslint to fix lint errors on staged files
  .lintstagedrc.json
Due: prettier --write

refactor(home): rename variable
  src/pages/index.vue
Due: prettier --write, eslint

chore(ui): move client-only declaration to hover-card component
  src/components/ui/hover-card/HoverCardTrigger.vue
  src/pages/index.vue
Due: prettier --write, eslint

style(typography): add span styles
  src/assets/styles/typography.scss
Due: none

chore(lint): setup stylelint
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: lint
  src/assets/styles/typography.scss
Due: none

chore(lint): auto format staged css and scss files
  .lintstagedrc.json
Due: prettier --write

chore(npm): format and lint all files on script
  package.json
Due: prettier --write

fix(lint): ignore stylelint rule for list style
  src/assets/styles/typography.scss
Due: none

chore(ui): standardize props types
  src/components/ui/avatar/Avatar.vue
  src/components/ui/button/index.vue
  src/components/ui/separator/index.vue
Due: prettier --write, eslint

fix(home): theme icon showing wrong on ssr
  src/pages/index.vue
Due: prettier --write, eslint

test(home): update counter tests
  tests/e2e/home.spec.ts
Due: prettier --write, eslint

chore(home): remove unnecessary dom element
  src/pages/index.vue
Due: prettier --write, eslint

chore(home): reduce hover card delay
  src/pages/index.vue
Due: prettier --write, eslint

refactor(uno): turn typography classes into uno shortcuts
  src/assets/styles/typography.scss
  uno.config.ts
Due: prettier --write, eslint

chore(home): remove height limit on github hovercard
  src/pages/index.vue
Due: prettier --write, eslint

style(home): improve responsiveness
  src/pages/index.vue
Due: prettier --write, eslint

ci(vercel): setup speed insights
  package.json
  pnpm-lock.yaml
  src/app.vue
Due: prettier --write, eslint

ci(vercel): setup analytics
  package.json
  pnpm-lock.yaml
  src/plugins/analytics.client.ts
Due: prettier --write, eslint

chore(home): add link to github repo on mobile
  src/pages/index.vue
Due: prettier --write, eslint

style(home): use smallest viewport height for container
  src/pages/index.vue
Due: prettier --write, eslint

style(typography): add underline on hover for all links
  src/assets/styles/typography.scss
Due: none

perf(plugins): avoid loading analytics in test environment
  src/plugins/analytics.client.ts
Due: prettier --write, eslint

refactor(layouts): move layout logic to layout component
  src/layouts/default.vue
  src/pages/index.vue
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,cjs,mjs,ts,vue}) or (any of: *.json)
  eslint: any of: *.{js,cjs,mjs,ts,vue}
